<h3>Profil</h3>
<hr>
<div id="messageBox"></div>

<div class="row">
    <div class="col-12 col-lg-6">
        <h5>Profil adatok</h5>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingLogPassword" placeholder="Password">
                <label for="floatingLogPassword">Név</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingLogPassword" placeholder="Password">
                <label for="floatingLogPassword">Email</label>
            </div>
            <button type="button" class="btn btn-success" id="EnterBTN" onclick="">Módosítás</button>
    </div>
    <div class="col-12 col-lg-6">
        <h5>Jelszó módosítása</h5>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingLogPassword" placeholder="Password">
                <label for="floatingLogPassword">Régi jelszó</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingLogPassword" placeholder="Password">
                <label for="floatingLogPassword">Új jelszó</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingLogPassword" placeholder="Password">
                <label for="floatingLogPassword">Új jelszó megerősítése</label>
            </div>
            <button type="button" class="btn btn-success" id="EnterBTN" onclick="">Módosítás</button>
    </div>
</div>


<hr>