<h3>Regisztráció</h3>
<hr>

<div id="messageBox">
</div>

<div class="regContainer">
    <div class="form-floating">
        <input type="text" class="form-control" id="NameInp" placeholder="Name">
        <label for="NameInp">Név</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="emailInp" placeholder="name@example.com">
        <label for="floatingInput">Email cím</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Jelszó</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingConfirm" placeholder="ConPassword">
        <label for="floatingConPassword">Jelszó újra</label>
      </div>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        <label class="form-check-label" for="switchCheckDefault">Nem vagyok robot</label>
      </div>


      <button type="button" class="btn btn-success" id="RegBTN" onclick="registration()">Regisztrálok</button>

</div>